input {
	padding: 10px;
	font-size: 22px;
	border-radius: 20px;
	border: 2px solid #C44741;
	outline: none;
}
.item {
	width: 200px;
	margin: auto;
	text-align: left;
	margin-top: 10px;
	background: #F2F2F2;
	padding: 10px;
	box-shadow: 0px 0px 5px #CCC;
}

.item.title {
	font-size: 14px;
	font-weight: bold;
}
.subtitle {
	font-size: 14px;
	color: #444;
}
.active {
	background-color: #C44741;
	color: #f2f2f2;
}